In [24]:
import pandas as pd
import numpy as np
import random

In [33]:
# ser = pd.Series(np.random.rand(34))
# type(ser)
newdf = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))
newdf

            0         1         2         3         4
0    0.968175  0.340477  0.523873  0.108458  0.143794
1    0.616071  0.300856  0.449647  0.684266  0.698876
2    0.700481  0.732343  0.691803  0.771704  0.501173
3    0.358914  0.736212  0.565824  0.606437  0.383978
4    0.076704  0.670193  0.423986  0.432746  0.730034
..        ...       ...       ...       ...       ...
329  0.654699  0.673253  0.910914  0.877196  0.110326
330  0.962833  0.581496  0.028722  0.784552  0.338487
331  0.284145  0.453252  0.023533  0.343432  0.151557
332  0.047628  0.855339  0.252900  0.706581  0.554078
333  0.357612  0.073341  0.320213  0.058953  0.471567

[334 rows x 5 columns]